body {
    position: relative;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

div {
    margin: none;
}

.father {
    width: 1000px;
    margin: 0 auto;
}

.line {
    background-color: #45b09e;
    width: 100%;
    height: 4px;
}

.header {
    background-color: white;
    height: 140px;
}

.img-1 {
    width: 100px;
    cursor: pointer;
    float: left;
}

.ad {
    background-color: black;
    width: 566px;
    height: 111px;
    margin: 010px auto;
    float: left;
}

@media (max-width:800px) {
    .ad {
        display: none;
    }
    .img-1 {
        width: 207px;
        height: 133px;
        float: left;
        position: absolute;
        left: 60px;
    }
    .trans {
        position: absolute;
        right: 10px;
    }
}

.trans a {
    background: #45b09e;
    color: #fff;
    padding: 2px 13px 6px 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500px;
    width: 70px;
    cursor: pointer;
    float: right;
    text-align: center;
    text-decoration: none;
}

nav {
    background-color: white;
    width: 100%;
    height: 58px;
    position: relative;
    top: -18px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 17px;
    /* text-align: center; */
    padding: 16px 3px 4px 4px;
    color: black;
}

li {
    float: left;
    margin-left: 20px;
}

i {
    padding: 5px;
}

.nv1 {
    float: right;
    padding: 3px 8px;
    border-radius: 4px;
    text-decoration: none;
    margin: 16px 5px 5px 4px;
    color: #fff;
    border: 1px solid #45b09e;
    background-color: #45b09e;
    font-weight: 500;
}

.sign {
    float: right;
    margin: 16px 5px 5px 4px;
    background-color: white;
    border: black solid 1px;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.sign:hover {
    background-color: #45b09e;
    color: white;
}

.img-2 {
    padding: 4px 5px 5px 6px;
    cursor: pointer;
    float: left;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    height: 40px;
    width: 40px;
}

.star {
    display: inline-block;
    color: gold;
    padding: 1px;
    width: 108px;
    position: relative;
}

.star i {
    padding: 0px;
}

.lin {
    margin-top: 56px;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    transition-duration: .7s;
    transition-delay: 0.2s;
}

.lin a {
    background-color: white;
    text-decoration: none;
}

.star {
    color: gold;
    padding: 14px;
    width: 108px;
    position: relative;
}

.star i {
    padding: 0px;
}

.words-1 a {
    border: none;
}

.lin a:hover {
    margin: 20px;
}

.lin:hover {
    margin-top: 46px;
    border: double 10px #639189;
}

.bag {
    background-color: white;
    padding: 20px;
}

#list {
    float: left;
    border: 2px mediumseagreen solid;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 20px 10px;
    background-color: white;
    width: 85%;
}

#list a {
    display: block;
    margin-top: 17px;
    text-align: left;
    position: relative;
    right: 20px;
    text-decoration: none;
    color: #000;
}

#list i {
    float: right;
}

#author {
    float: left;
    border: 2px mediumseagreen solid;
    /* padding-right: 20px; */
    padding-bottom: 10px;
    font-size: 20px;
    margin: 20px 10px;
    background-color: white;
    width: 100%;
}

#author a {
    display: block;
    margin-top: 17px;
    text-align: left;
    position: relative;
    right: 20px;
    text-decoration: none;
    color: #000;
}

#author i {
    float: right;
}

.search-modal-body {
    text-align: center;
}

.search-input {
    width: 96%;
    height: 40px;
}

.btn-green {
    color: #000;
    background-color: #45b09e;
    border-color: #45b09e;
}